# DATABASE CONNECTION
DATABASE_URL="postgresql://postgres:password@localhost:5432/pos_kasir_db?schema=public"
DIRECT_URL="postgresql://postgres:password@localhost:5432/pos_kasir_db?schema=public"

# STORE CONFIGURATION (BLUE THEME)
NEXT_PUBLIC_STORE_NAME="CAFE & RESTO BIRU"
NEXT_PUBLIC_STORE_ADDRESS="Jl. Melati No. 12, Jakarta Selatan"
NEXT_PUBLIC_STORE_PHONE="0812-3456-7890"
NEXT_PUBLIC_CURRENCY="IDR"

# QRIS BCA DETAILS
NEXT_PUBLIC_QRIS_MERCHANT_NAME="KASIR CAFE & RESTO BIRU"
NEXT_PUBLIC_QRIS_NMID="ID1020030040050"
NEXT_PUBLIC_QRIS_BANK="BANK CENTRAL ASIA (BCA)"
